.search-container {
  width: 30rem;
}

.search-box {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border: 2px solid #e4e4e4;
}

.search-box:focus {
  outline: 1px solid #16a2ff;
}

.suggestions {
  margin: 0;
  padding-left: 0;
}

.suggestions li {
  background-color: white;
  border: 1px solid #e4e4e4;
  border-top-width: 0;
  list-style: none;
  padding: 1rem;
}

.suggestions .suggestion-active,
.suggestions li:hover {
  background-color: #f8f8f8;
  cursor: pointer;
}
