.detail-container {
  width: 30rem;
  margin-left: 32px;
  padding: 0 16px;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.row {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
  text-transform: capitalize;
}

.row-body {
  color: #757575;
}

.product-price {
  font-weight: bold;
}

.product-id {
  font-size: 0.8rem;
}

.product-image {
  max-width: 100%;
}

.loading-container {
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  height: 36.5rem;
  justify-content: center;
  margin: 0 0 0 32px;
  padding: 0 16px;
  width: 30rem;
}

.loading-container svg {
  height: 4rem;
  width: 4rem;
}

@media (prefers-reduced-motion: no-preference) {
  .loading-container svg {
    animation: loading-spin infinite 1s linear;
  }
}

@media (max-width: 600px) {
  .detail-container {
    margin-bottom: 30px;
    margin-left: 0;
    width: 100%;
  }
}

@keyframes loading-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
